.title {
    margin: 0;
    padding: 0;
}

.grouped-bar-graph {
    background: white;
    border-radius: 20px;

    padding: 20px;
    height: 100%;
}

.chart-container {
    width: 100%;
    height: 90%;
}