<section class="bank-account-info">
<div class="bank-account-info__wrapper">
    <h2 class="bank-account-info__title">Total Ballance</h2>

    <div class="bank-account-info__last-transaction">
    <p class="bank-account-info__last-transaction-sum">+ 200</p>
    <p class="bank-account-info__last-transaction-text">Last Transation</p>

    <div class="bank-account-info__last-transaction-butons">
        <button class="bank-account-info__last-transaction-button">
        TOP UP
        </button>
        <button class="bank-account-info__last-transaction-button">
        WITHDRAW
        </button>
    </div>
    </div>
</div>

<div class="bank-account-info__wallets">
    <h2 class="bank-account-info__wallets-sum">$ 200.58</h2>
    <p class="bank-account-info__wallets-text">WALLETS AMOUNT</p>
</div>
</section>